registry=https://artifactory.gm.com/artifactory/api/npm/javascript/
//artifactory.gm.com/artifactory/api/npm/javascript/:_authToken=eyJ2ZXIiOiIyIiwidHlwIjoiSldUIiwiYWxnIjoiUlMyNTYiLCJraWQiOiJXRlU2TFRoWEVVdnJaUDJnaVN4cXAwZGt5VTBaYW84NjRsWWh2WC01dnUwIn0.eyJzdWIiOiJqZnJ0QDAxY2NneXE0cG0zaGdqMWo0NnhmdzYxZDM4XC91c2Vyc1wvc3pzNnBiIiwic2NwIjoibWVtYmVyLW9mLWdyb3VwczoqIGFwaToqIiwiYXVkIjoiamZydEAwMWNjZ3lxNHBtM2hnajFqNDZ4Znc2MWQzOCIsImlzcyI6ImpmcnRAMDFjY2d5cTRwbTNoZ2oxajQ2eGZ3NjFkMzhcL3VzZXJzXC9zenM2cGIiLCJpYXQiOjE2MzIzMjk5MjcsImp0aSI6IjQ5ZDNiM2MzLTJkNjktNDY5OC05N2I2LWQwZTkyY2Y5MjBiOCJ9.e_K2uqlLlvwSkasrr0BRqmcbZ_bQcUWkgugpI38x4gj7fuZJW0sNdU8abr5j5-OhTgCJLVnL7zbTCNxKFIgwvnIZRiRSYAtxvXHkxB5YEmgLYxd30nVJVrTISLv2lv-d01pfF8J52CFs9uBGSEVp-LOrbq6Z6YdJG5sZuz4cXc3uE8lijlZMZWY6bY8T59bkRQ100cODnv0va_jo0CVzyX58mzL3w-TPF3tsUHlcoA4cHzo3tZ4jGeTuHj88Twq1E4d-7ij8nraW57uiwA7erga_keGfZqbgAzR1Ok53pAWEl2MswNJP4Za4Edp-Giq1_L47qFPuPXf5XqGiA0ifpw
_auth = c3pzNnBiOkFQNnl4SGN4Rk5EWTZqUHNndUFIeU1zWHhuRQ==
email = meet.ghelani@gm.com
always-auth = true